.detalle-card {
    width: 100%;
    padding: 16px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,1.1);

    h3 {
      margin-bottom: 12px;
      text-align: center;
    }

  }
  .detalle-box {
    height: 100%;
    border-radius: 8px;

    .logo{
      width: 80px;
      height: 60px;
    }
  }

  .btn{
    background-color: #002a80;
    color: white;
    width: 150px;
  }

  .btn:hover{
    background-color: #0039ab;
  }

  