
<nav class="navbar">

<div class="container-fluid">

    <img class = "ms-2" src="assets/logo.png" width="250" height="70">
  
    <ul class="nav">

        <div 
        *ngIf="user$ | async as currentUser"
        class="wallet-container d-flex align-items-center"
        style="margin-right: 15px;"
      >

      <div class="d-flex align-items-center p-0 m-0" style="border: 1px solid #000000; border-radius: 6px; background-color: #b6b6b6;; gap: 15px;">
        <img
        src="assets/billetera.png"
        alt="billetera"
        style="width:24px; height:auto; margin:0 4px;"
        />
        
        <span class="text-black">
            ${{ saldo | number:'1.2-2' }} MXN
          </span>
      
          <button
          class="btn btn-sm"
          data-bs-toggle="modal"
          data-bs-target="#depositoModal"
          style="background-color: transparent;"
        >
          +
        </button>

        </div>
      </div>


        <li class="nav-item" style="text-align: center;">
        <a class="nav-link active text-black" aria-current="page" href="#">Inicio</a>
        </li>

        <li class="nav-item">
        <a class="nav-link text-black" href="/envios">Envios</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-black" href="/rastreo">Rastreo</a>
        </li>

        <ng-container *ngIf="user$ | async as currentUser; else mostrarLogin">

            <li class="nav-item position-relative" (click)="toggleCard()">
                <a class="botonPerfil nav-link active text-white" routerLink="perfil" routerLinkActive="active-route" style="cursor: pointer;">
                  <img 
                  src="assets/perfil.png" 
                  alt="foto-perfil"
                  class="img-fluid"
                  style="max-width: 55px; height: auto;"
                />
                </a>
              
               
                <div *ngIf="mostrarCard" class="overlay"></div>
              
                
                <div *ngIf="mostrarCard" class="perfil-card position-absolute start-0">
                  <div class="card">
                    <div class="card-body">
                      <button class="btn btn-danger w-100 mb-2" (click)="logOut()">Cerrar Sesión</button>
                    </div>
                  </div>
                </div>
              </li>

        </ng-container>

        <ng-template #mostrarLogin>
        <li class="nav-item">
            <a class="nav-link text-black" href="/login">Login</a>
        </li>
        </ng-template>
    </ul>


</div>
</nav>

  <div class="modal fade" id="depositoModal" tabindex="-1"
      aria-labelledby="depositoModalLabel" aria-hidden="true" style="padding-top: 5%;">
      <div class="modal-dialog modal-xl">
          <div class="modal-content">
          
          <div class="modal-header d-grid" style="gap: 10px;">

            <div class = "d-flex align-items-center">

              <h5 class="modal-title" id="depositoModalLabel">
                Agregar créditos
                </h5>

                <button type="button" class="btn-close"
                data-bs-dismiss="modal" aria-label="Close">
              </button>
              
            </div>


              <p>Elige el metodo de pago deseado, define el monto y ágregalo a tu cuenta. </p>

          </div>
          
          <div class="modal-body">
            
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-4 justify-content-center" style="padding: 5%;">
              <div class="col d-flex justify-content-center" *ngFor="let m of metodos">
                <div
                  class="d-flex align-items-center justify-content-center p-3 rounded"
                  [ngClass]="{
                    'border-primary': seleccionado?.id === m.id,
                    'border': true,
                    'bg-white': seleccionado?.id !== m.id,
                    'bg-light': seleccionado?.id === m.id
                  }"
                  style="cursor: pointer; width: 80%; min-height: 100%;"
                  (click)="elegir(m)"
                >
                <img [src]="m.img" [alt]="m.label" style="width: 100%;"/>
                </div>
              </div>
            </div>

            <hr />
          
        
            <div *ngIf="seleccionado">
          
              <ng-container *ngIf="seleccionado.id === 'spei'; else otroMetodo">
                <div class="row">
                  <div class="col text-start">
                    <p class="mb-1">Monto mínimo: 500.00 MXN</p>
                  </div>
                  <div class="col text-end">
                    <p class="mb-1">Banco: STP</p>
                    <p class="mb-1">CLABE: 000000000000000000</p>
                    <p class="mb-1">Razón Social: –</p>
                    <p class="mb-0">RFC: 000000000000</p>
                  </div>
                </div>

              </ng-container>
          
              <!-- Para cualquier otro método -->
              <ng-template #otroMetodo>
                <button
                  class="btn btn-outline-primary w-100"
                  (click)="confirmarDeposito()"
                  data-bs-dismiss="modal"
                >
                  Cargar {{ seleccionado.label }}
                </button>
              </ng-template>
            </div>
          </div>
      
          </div>
      </div>
  </div>



