.container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.navbar {
    position: fixed;
    top: 2rem;
    left: 1rem;
    right: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    border: 2px solid transparent;               
    background-image:
      linear-gradient(#fff, #fff),              
      linear-gradient(to right, #1a5e77, #8ed1f2);
    background-origin: padding-box, border-box; 
    background-clip: padding-box, border-box;   
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 1rem; 
    margin: 0;  
    padding: 0; 
    list-style: none;
  }

  .nav-link {
    display: flex;
    align-items: center;
    position: relative;
    color: #000000;
  }
  
  .nav-link:hover {
    color: #026b02;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border: none;
    color: #fff;
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
    border-radius: 4px;
  }

  .nav-item a{
    font-weight: bold;
    font-size: large;
  }

  .perfil-card {
    top: 100%; 
    left: 50%;
    transform: translateX(-65%);
    width: 200px; 
    z-index: 1000; 
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 500;
  }

  .modal-dialog.modal-xl {
    max-width: 50vw;  
    max-height: 90vh; 
  }